.configuracion,
.titleConfig,
.infoUsuario,
.formSecurity {
  display: flex;
  flex-direction: column;
}

.infosecurity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formSecurity,
.infosecurity {
  gap: 5px;
}

.formatpass {
  flex: 1;
}
.configuracion {
  height: 100%;
  padding: 5px 80px;
  display: flex;
  gap: 10px;
}
.PanelPerfilInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
}
.infoUsuario {
  gap: 5px;
}

.titleConfig {
  padding: 15px 0;
}

.titleConfig h3 {
  font-size: 22px;
  font-weight: bold;
}

.titleConfig p {
  font-size: 14px;
  color: #666;
}

.fontBlackInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 4px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #504a4a;
  font-weight: bold;
}

.fontOrange {
  color: rgb(255, 187, 0);
  font-weight: bold;
}

.btn {
  padding: 10px;
  height: 35px;
  border-radius: 8px;
  border: none;
}
.PanelPerfilBtn {
  display: flex;
  gap: 10px;
}
.editarPefil {
  background-color: #e5e08aa4;
  cursor: pointer;
}

.seguridad {
  cursor: pointer;
}

.BodyConfig {
  display: flex;
  flex-direction: row;
}
.configImgPerfil {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #f7a935;
}
.PerfilDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.DangerZone {
  border: 2px dashed red;
  padding: 10px;
  color: rgb(211, 25, 25);
  display: flex;
  position: relative;
  border-radius: 10px;
  gap: 10px;
  width: 50%;
}
.borderDanger {
  border: 3px solid red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.borderDanger:hover {
  background-color: red;
  color: white;
  transition: 0.3s;
}

.EstadoCuenta {
  /* background-color: #eedec5a4; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #ede27db7;
  padding: 10px;
  width: 50%;
}

.EstadoCuenta:hover {
  border: 2px solid #ebb76bb7;
}

.ItemPreference {
  display: flex;
  align-items: center;
  gap: 15px;
  min-height: 80px;
}

.footerConfig {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.PerfilPanel {
  flex: 1;
}

.PreferPanel {
  flex: 1;
}

.botoneraConfig {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 15px 0;
}

.btnCancelar,
.btnGuardar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.btnGuardar {
  background-color: #f7a935;
  color: white;
}
.btnCancelar {
  background-color: #f1efebd0;
  color: rgb(151, 147, 147);
}

.btnCancelar:hover {
  background-color: rgba(235, 224, 224, 0.705);
}

.btnGuardar:hover {
  background-color: #f3af1c;
}

.ModoTema {
  height: 15px;
  width: 15px;
}

.inputSecurity {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.infoUsuarioSecurity {
  display: flex;
  gap: 5px;
}

.borderDangerContent {
  position: absolute;
  border: 1px solid #d6d6d6b7;
  background: #ffffff;
  border-radius: 10px;
  min-width: 500px;
  height: 300px;
  color: #1f1d1d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.fntDanger {
  font-size: 24px;
  font-weight: bold;
}
.TitleDanger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  min-height: 30px;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6b7;
  padding: 2px 10px;
}

.CloseDanger {
  cursor: pointer;
}

.contentDanger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 10px;
  padding: 10px;
  height: 70%;
}

.bottomDanger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  border-top: 1px solid #d6d6d698;
}

.bottomDanger button {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 90%;
  background-color: rgb(226, 32, 32);
  border: 1px solid #d6d6d698;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.bottomDanger button:hover {
  background-color: rgb(224, 3, 3);

  transition: 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 100px;
  padding: 5px 8px;
  border-radius: 5px;
  border: 2px solid #f3af1c;
  gap: 2px;
}

.cartillaModo{
color: #f3af1c;
}

.contenedorFoto {
    position: relative;
    display: inline-block;
}

.btnEditFoto {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #e6b30c;
    color: #000;
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

.btnEditFoto:hover {
    background: #e27e0c;
}