/* SideBar */

.SideBar {
  background: var(--bg-color);
  border-right: 1px solid #ccc;
}

.EmpresaTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #cccccc58;
}

.InfoSideTitle {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.SideBardList {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cambiarEmpresa {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
  position: relative;
}

.SideBarTarget {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 8px 5px;
  gap: 10px;
  border-radius: 8px;
}

.listBar {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.SideBarTarget p {
  color: var(--text-color-primary);
  font-weight: bold;
}

.SideBarTarget:hover {
  background: #f4a20a;
}

#cardAccounts {
  position: absolute;
  top: 45px;
  left: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(77, 75, 75);
  border: 1px solid #ccc;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px;
  z-index: 100;
  width: 300px;
  min-height: 120px;
}

.AccountJobs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: #656565;
  border-radius: 8px;
  padding: 5px;
}

.AccountJobs:hover {
  background: #f0b41c;
}

.orangebg {
  background: #f0b41c;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  /* 535050 */
}
.SideBarTarget {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: #535050;
}

.SideBarTarget:hover {
  background-color: #2a2a3d;
  color: white;
}

.SideBarTarget.active {
  background-color: #4f46e5;
  color: white;
}